<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MergeIT</title>

    <link rel="icon" type="image/png" href="./static/spm-removebg-preview.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-i/8Gnbf79aZTcR1aR76jgUkF5Tv8cYYWb0Iw/Eh7pPT73Rb3e27WL4ZgsdRuZo+c" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-vSJso3hzG+L2k0BSH3XlKPzgYxLmKXSJWKANfKO2HcYwSkUZt/JcY9aqw1iV+0fn" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
        integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="../static/prompt.css">
</head>
<div class="switch1">
    <label class="hamburger" for="navbar-toggle">
        <input type="checkbox" id="navbar-toggle">
        <svg viewBox="0 0 32 32">
            <path class="line line-top-bottom"
                d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
            </path>
            <path class="line" d="M7 16 27 16"></path>
        </svg>
    </label>
</div>
<nav class="navbar">
    <ul>
        <li><a href="#" onclick="toggleForm('mergeit')"><i class="fas fa-code-branch"></i> MergeIT</a></li>
        <li><a href="#" onclick="toggleForm('geocodeForm')"><i class="fas fa-map-marker-alt"></i> Geocode</a></li>
        <li><a href="#" onclick="promptForPassword('dataFeedForm')"><i class="fas fa-database"></i> Data Feed</a></li>
    </ul>
</nav>
<div id="geocodeForm" class="popup-form flex flex-col items-center p-5 rounded">
    <h1 class="text-2xl text-center font-bold mb-5 mt-2">GEOCODE</h1>
    <div class="flex justify-center items-center">
        <div class="card  p-5 rounded">
            <h1 class="text-md font-bold mb-5">Upload CSV/XLSX</h1>
            <form id="uploadForm" enctype="multipart/form-data" class="space-y-5">
                <div class="form-group">
                    <div class="grid w-full max-w-xs items-center gap-1.5">
                        <label
                            class="text-sm text-gray-400 font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="fileInput">SELECT FILE:</label>
                        <input type="file" id="fileInput" accept=".xlsx, .xls" class="form-control-file" name="file"
                            class="h-10 w-full rounded border border-gray-300 px-3 py-2 text-sm text-gray-400" required>
                        <!-- Add SweetAlert loading screen here -->
                        <button type="submit" id="predictButton"
                            class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded" onclick="showLoading()">Upload</button>
                    </div>
                </div>
            </form>
            <div id="notification" class="mt-3"></div>
        </div>
    </div>
</div>
</div>
<div id="dataFeedForm" class="popup-form flex flex-col items-center p-5 rounded">
    <h1 class="text-2xl text-center font-bold mb-5 mt-2">DATA FEED</h1>
    <div class="flex justify-center items-center">
        <div class="card  p-5 rounded">
            <h1 class="text-md font-bold mb-5">Upload XLSX</h1>
            <form id="uploadFeed" enctype="multipart/form-data" class="space-y-5">
                <div class="form-group">
                    <div class="grid w-full max-w-xs items-center gap-1.5">
                        <label
                            class="text-sm text-gray-400 font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">SELECT
                            FILE:</label>
                        <input type="file" accept=".xlsx, .xls" class="form-control-file" id="file" name="file"
                            class="h-10 w-full rounded border border-gray-300 px-3 py-2 text-sm text-gray-400" required>
                        <button type="submit" id="uploadButton"
                            class="btn btn-primary bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 mt-2 rounded">Upload</button>
                    </div>
                    
                </div>
                <div id="message1" class="text-black px-4 py-3 rounded relative" role="alert"
                    style="background-color: #f7dfc5; border: 1px solid #f3a553; color:#504f4f">
                    <strong class="font-bold text-xs">Download Template: </strong>
                    <span class="block sm:inline text-xs" style="white-space: pre-wrap"> <a href="/download_file" id="downloadLink" class="fas fa-download" style="cursor: pointer; color: #3677ee; "><span style="font-family: poppins; font-weight: normal; text-decoration-line: none;"> Template.xlsx</span></a></span>
                </div>
            </form>
            <div id="notification" class="mt-3"></div>
        </div>
    </div>
</div>
<div id="tooltipContent" class="absolute mt-24 z-10 hidden bg-white text-gray-800 border border-gray-300 shadow-md rounded-lg p-4 right-26 top-48 " onclick="toggleTooltip()" style="box-shadow: 0 0 5px rgba(1, 2, 1, 0.5); width: 420px; margin-top: 105px;">
    <button id="closeButton" class="absolute top-0 right-0 mt-1 mr-1 p-2 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none focus:bg-gray-300">
        <svg class="h-6 w-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
    <div id="reminderModal" class="flex items-center justify-center">
        
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left flex-grow">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="reminderTitle">
                Reminder
            </h3>
            <div class="mt-2">
                <p class="text-sm text-gray-500">
                    Before merging, please ensure that the Excel file is correctly formatted.
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="mt-4 flex justify-center">
        <button type="button" id="proceedButton" class="w-24 sm:w-auto inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 ml-auto">
            Got it!
        </button>
    </div> -->
</div>


<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center" style="
      background: #ffffff;
      background: -webkit-linear-gradient(242deg, #850202 0%, #ffffff 100%);
      background: linear-gradient(242deg, #fdfdfd 0%, #caf4fa 100%);
      backdrop-filter: blur(11px);
    ">
    <div id="overlay" class="overlay overlay-hidden"></div>
    <img src="{{ url_for('static', filename='Primary Logo.png') }}" alt="Logo" style="
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 300px;
        height: auto;
      " />
    <div id="mergeit" class="relative bg-white p-10 rounded-md shadow-md" style="
        background: rgba(255, 255, 255, 0.658);
        -webkit-backdrop-filter: blur(11px);
        backdrop-filter: blur(11px);
        border: 1px solid rgba(255, 255, 255, 0.225);
        border-radius: 10px;
        box-shadow: 0 0 10px #413a3a;

        border-style: solid;
        width: 450px;
        height: auto;
      ">
        <h1 class="text-2xl font-bold mb-4 text-center font-poppins">MergeIT</h1>
        <div class="inline-flex items-center ">
            <!-- Tooltip Content --> 
          
            
            <!-- Tooltip Trigger -->
            <div class="absolute top-5 right-5 cursor-pointer ml-2" onclick="toggleTooltip()">
                <!-- Icon -->
               <img src="../static/question.png" alt="" width="30px" height="auto">
            </div>
        </div>
        
        <form id="mergeForm" method="POST" class="space-y-4">
            <label for="bank_name">Select Bank:</label>
            
            <select name="bank_name" id="bank_name"
                class="block w-full border-gray-500 border-2 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm font-poppins py-2 px-2">
                {% for bank_name in bank_names %} <option value="{{ bank_name }}">{{ bank_name }}</option> {% endfor %}
            </select>
            <button type="submit" id="mergeButton"
                class="w-full bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 transition-colors duration-300 font-poppins">
                Merge Files </button>
            <div id="progress" class="hidden mt-4">
                <div class="flex justify-center items-center">
                    <div id="progressBar" class="h-2 animate-pulse bg-indigo-500 rounded"></div>
                    <span id="progressText" class="ml-2 animate-pulse text-indigo-500">0%</span>
                </div>
            </div> {% if no_error %} <div id="message" class="   text-black px-4 py-3 rounded relative" role="alert"
                style="background-color: #f7dfc5; border: 1px solid #f3a553; color:#504f4f">
                <strong class="font-bold text-xs">Warning!</strong>
                <span class="block sm:inline text-xs" style="white-space: pre-wrap">{{ message|safe }}</span>
            </div> {% endif %} <div id="message"
                class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative hidden"
                role="alert">
                <strong id="messageStatus" class="font-bold text-xs"></strong>
                <span id="messageText" class="block sm:inline text-xs" style="white-space: pre-wrap"></span>
            </div>
        </form>
    </div>
    <!-- Delete Modal -->
    <div id="delete-modal" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog"
        aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div
                class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title"> Dumping request
                                files in this campaign. </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500"> This process is associated with this system and this
                                    action cannot be undone. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button id="delete-confirm-button" type="button"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600 sm:ml-3 sm:w-auto sm:text-sm">
                        Delete </button>
                    <button id="delete-cancel-button" type="button"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cancel </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>