<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MergeIT</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <script
      src="https://cdn.socket.io/4.7.4/socket.io.min.js"
      integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
      window.onload = function () {
        const socket = io();
        socket.connect("http://localhost:8000");

        const bankName = document.getElementById("bank_name");
        const progressBar = document.getElementById("progressBar");
        const progressText = document.getElementById("progressText");
        const mergeButton = document.getElementById("mergeButton");
        const progressContainer = document.getElementById("progress");
        const messageContainer = document.getElementById("message");
        const messageStatus = document.getElementById("messageStatus");
        const messageText = document.getElementById("messageText");
        const mergeForm = document.getElementById("mergeForm");

        const hiddenClasses = ["hidden"];
        const successClasses = [
          "bg-green-100",
          "border-green-400",
          "text-green-700",
        ];
        const errorClasses = ["bg-red-100", "border-red-400", "text-red-700"];

        let folderPath = "";

        socket.on("connect", function () {
          console.log("Connected!");
        });

        socket.on("update progress", function (percent) {
          console.log("Got percent: " + percent);
          animateProgress(percent);
        });

        function animateProgress(targetPercent) {
          let currentPercent = parseFloat(progressBar.style.width) || 0;
          const step = (targetPercent - currentPercent) / 20;
          const interval = setInterval(function () {
            currentPercent += step;
            progressBar.style.width = currentPercent + "%";
            progressText.textContent = Math.round(currentPercent) + "%";
            if (currentPercent >= targetPercent) {
              clearInterval(interval);
            }
          }, 50);
        }

        function showMessage(message, status, classes) {
          messageText.innerHTML = message;
          messageStatus.innerHTML = status;

          messageContainer.classList.remove(
            ...hiddenClasses,
            ...successClasses,
            ...errorClasses
          );
          messageContainer.classList.add(...classes);

          mergeButton.classList.remove(...hiddenClasses);
          progressContainer.classList.add(...hiddenClasses);
          bankName.disabled = false;
        }

        // function downloadFile(downloadPath) {
        //   console.log(downloadPath);
        //   fetch("/download", {
        //     method: "POST",
        //     headers: {
        //       "Content-Type": "application/json",
        //     },
        //     body: JSON.stringify({ data: downloadPath }),
        //   })
        //     .then((response) => response.json())
        //     .then((data) => {
        //       console.log("Downloaded successfully!");
        //     })
        //     .catch((error) => {
        //       showMessage(error, "Error!", errorClasses);
        //     });
        // }

        function deleteFiles() {
          fetch("/delete", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ data: folderPath }),
          })
            .then((response) => response.json())
            .then((data) => {
              Swal.fire("Delete", data.message, "success");
            })
            .catch((error) => {
              showMessage(error, "Error!", errorClasses);
            });
        }

        function showDeleteModal() {
          $("#delete-modal").removeClass("hidden");
        }

        function hideDeleteModal() {
          $("#delete-modal").addClass("hidden");
        }

        $("#delete-confirm-button").on("click", function () {
          deleteFiles();
          hideDeleteModal();
        });

        $("#delete-cancel-button").on("click", function () {
          hideDeleteModal();
          Swal.fire("Cancelled", "Deletion operation cancelled.", "info");
        });

        mergeForm.onsubmit = function (event) {
          event.preventDefault();
          const formData = new FormData(mergeForm);
          bankName.disabled = true;

          fetch("/merge", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              const classes = data.status ? successClasses : errorClasses;
              showMessage(data.message, data.status ? "Success!" : "Error!", [
                ...classes,
              ]);

              if (data.status) {
                folderPath = data.file_path;
                // downloadFile(data.download_path);
                hideDeleteModal();
                showDeleteModal();
              }
            })
            .catch((error) => {
              showMessage(error, "Error!", errorClasses);
            });
        };

        mergeButton.addEventListener("click", function () {
          mergeButton.classList.add(...hiddenClasses);
          progressContainer.classList.remove(...hiddenClasses);

          progressBar.style.width = 0 + "%";
          progressText.textContent = Math.round(0) + "%";

          messageContainer.classList.add(...hiddenClasses);
        });

        window.addEventListener("keydown", function (event) {
          if (
            event.keyCode === 116 &&
            !document.getElementById("progress").classList.contains("hidden")
          ) {
            // Prevent default behavior
            event.preventDefault();
            event.returnValue = ""; // For older browsers
            // Display SweetAlert confirmation
            Swal.fire({
              title: "Ongoing Merging Process",
              text: "There is an ongoing merging process. Are you sure you want to leave?",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, leave!",
              cancelButtonText: "No, stay",
              reverseButtons: true, // To swap the positions of the buttons
            }).then((result) => {
              if (result.isConfirmed) {
                // Proceed with leaving
                location.reload();
              } else {
                // Stay on the page
                // Do nothing
              }
            });
          }
        });
      };
    </script>
    <style>
      body {
        font-family: "Poppins", sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .left-image {
        position: absolute;
        left: 0;
      }
      .right-image {
        position: absolute;
        right: 0;
      }
    </style>
  </head>
  <body
    class="bg-gray-100 min-h-screen flex flex-col items-center justify-center"
    style="
      background: #ffffff;
      background: -webkit-linear-gradient(242deg, #850202 0%, #ffffff 100%);
      background: linear-gradient(242deg, #fdfdfd 0%, #caf4fa 100%);
      backdrop-filter: blur(11px);
    "
  >
    <!-- <img
      src="{{ url_for('static', filename='bg1.png.png') }}"
      alt="bg"
      style="position: absolute; left: 0"
    />
    <img
      src="{{ url_for('static', filename='left.png') }}"
      alt="bg"
      style="position: absolute; right: 0"
    /> -->
    <img
      src="{{ url_for('static', filename='Primary Logo.png') }}"
      alt="Logo"
      style="
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 300px;
        height: auto;
      "
    />
    <div
      class="bg-white p-10 rounded-md shadow-md"
      style="
        background: rgba(255, 255, 255, 0.658);
        -webkit-backdrop-filter: blur(11px);
        backdrop-filter: blur(11px);
        border: 1px solid rgba(255, 255, 255, 0.225);
        border-radius: 10px;
        box-shadow: 0 0 10px #413a3a;

        border-style: solid;
        width: 450px;
        height: auto;
      "
    >
      <h1 class="text-2xl font-bold mb-4 text-center font-poppins">MergeIT</h1>

      <form id="mergeForm" method="POST" class="space-y-4">
        <label for="bank_name">Select Bank:</label>
        <select
          name="bank_name"
          id="bank_name"
          class="block w-full border-gray-500 border-2 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm font-poppins py-2 px-2"
        >
          {% for bank_name in bank_names %}
          <option value="{{ bank_name }}">{{ bank_name }}</option>
          {% endfor %}
        </select>
        <button
          type="submit"
          id="mergeButton"
          class="w-full bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 transition-colors duration-300 font-poppins"
        >
          Merge Files
        </button>
        <div id="progress" class="hidden mt-4">
          <div class="flex justify-center items-center">
            <div
              id="progressBar"
              class="h-2 animate-pulse bg-indigo-500 rounded"
            ></div>
            <span id="progressText" class="ml-2 animate-pulse text-indigo-500"
              >0%</span
            >
          </div>
        </div>
        {% if no_error %}
        <div
          id="message"
          class="   text-black px-4 py-3 rounded relative"
          role="alert" style="background-color: #f7dfc5; border: 1px solid #f3a553; color:#504f4f"
        >
          <strong class="font-bold text-xs">Warning!</strong>
          <span class="block sm:inline text-xs" style="white-space: pre-wrap"
            >{{ message|safe }}</span
          >
        </div>
        {% endif %}
        <div
          id="message"
          class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative hidden"
          role="alert"
        >
          <strong id="messageStatus" class="font-bold text-xs"></strong>
          <span
            id="messageText"
            class="block sm:inline text-xs"
            style="white-space: pre-wrap"
          ></span>
        </div>
      </form>
    </div>
    <!-- Delete Modal -->
    <div
      id="delete-modal"
      class="fixed z-10 inset-0 overflow-y-auto hidden"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          aria-hidden="true"
        ></div>
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >
        <div
          class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
        >
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3
                  class="text-lg leading-6 font-medium text-gray-900"
                  id="modal-title"
                >
                  Process of dumping files
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    This process is associated with this system, this action
                    cannot be undone.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button
              id="delete-confirm-button"
              type="button"
              class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600 sm:ml-3 sm:w-auto sm:text-sm"
            >
              Delete
            </button>
            <button
              id="delete-cancel-button"
              type="button"
              class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
